body {
    background-image: url('../images/bg_html.jpg');
}

.bodyContent
{
	font-family: sans-serif;
	line-height: 28px;
}

.header {
    float: left;
    width: 945px;
    margin-top: 30px;
}
.LOGO {
	float: left;
}
.LOGO a {
	background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    text-decoration: none;
    display: block;
   	width: 170px;
    height: 80px;
    text-indent: -9999px;
}

.society {
    float: right;
    margin-bottom: 40px;
    display: block;
    overflow: hidden;
}

.society li {
    width: 30px;
    float: left;
}

.menu {
    margin-top: 60px;
    float: right;
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.menu li {
    width: 90px;
    float: left;
    display: inline;
    overflow: hidden;
}

.menu a:hover {
    color: #00BBFF;
    text-decoration: none;
}

.menu a:link {
    text-decoration: none;
}

.active {
    color: #00BBFF;
}

.nonactive {
    color: black;
}



.content {
    width: 945px;
    margin: 0 auto;
}

.banner {
    background-color: #292929;
    margin-top: 30px;
    height: 415px;
    width: 950px;
    float: left;
}

.banner img {
        float: left;
}

.banner input {
    background-color: #3F3F3F;
    color: #FFFFFF;
    border: 0;
    width: 130px;
    height: 40px;
    margin-top: 30px;
    margin-left: 40px;
}

.banner h1 {
    color: #00BBFF;
    margin-left: 680px;
    }

.banner p {
    color: #888888;
    margin-left: 680px;
}



.centerBox {
    float: left;
    width: 950px;
    height: 150px;
    margin-top: 30px;
    background-color: #FFF;
}

.centerBox p {
    margin: 30px;
 }

 .centerBox em{
 	color: #00BBFF;
 }


.bottomBox {
    float: left;
    width: 950px;
    height: 480px;
    margin-top: 30px;
    background-color: #FFF;
}

.bottomBox h2 {
    margin: 33px;
 }

.bottomBox em {
    color: #00BBFF;
}

.bottomleftbox {
    float: left;
    width: 600px;
}

.bottomleftbox div {
    float: left;
    width: 600px;
    margin-left: 35px;
    margin-bottom: 35px;
}

.bottomleftbox b {
    margin: 30px;
}

.bottomleftbox p {
    margin-left: 225px;
}

.bottomleftbox img {
    float: left;
    border-color: #F4F4F4;
    border-style: solid;
    border-width: 5px;
}

.bottomrightbox {
    float: right;
    width: 300px;
    height: 500px;
}

.bottomrightbox h2{
	margin: 23px;
}

.bottomrightbox li {
    background-image: url("../images/icon_03.png");
    background-repeat: no-repeat;
    background-position: 0px 8px;
    padding: 0px 0px 5px 15px;
    line-height: 25px;
    overflow: hidden;
}

.bottomrightbox ul {
    padding: 0px 0px 0px 33px;
}

.btnZip {
    border-color: #E0E0E0;
    border-style: solid;
    width: 200px;
    height: 40px;
    margin-left: 28px;
    margin-bottom: 20px;
}

.btnSearch {
    width: 100px;
    height: 45px;
    margin-left: 28px;
    border: 0;
    background-color: #F4F4F4;
    color: #00BBFF;
    font-weight: bold;
}

.footer {
    float: left;
    width: 950px;
    height: 130px;
    margin-top: 15px;
    text-align: center;
}

.footertitle em {
    color: #00BBFF;
}

