body {
    background-image: url('../images/bg_html.jpg');
}

.bodyContent
{
	font-family: sans-serif;
	line-height: 28px;
}

.header {
    float: left;
    width: 945px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.LOGO {
	float: left;
}
.LOGO a {
	background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    text-decoration: none;
    display: block;
   	width: 170px;
    height: 80px;
    text-indent: -9999px;
}

.society {
    float: right;
    margin-bottom: 40px;
    display: block;
    overflow: hidden;
}

.society li {
    width: 30px;
    float: left;
}

.menu {
    margin-top: 60px;
    float: right;
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.menu li {
    width: 90px;
    float: left;
    display: inline;
    overflow: hidden;
}

.menu a:hover {
    color: #00BBFF;
    text-decoration: none;
}

.menu a:link {
	color: black;
    text-decoration: none;
}

.active {
    color: #00BBFF;
}

.content {
    width: 945px;
    margin: 0 auto;
}

.banner {
    background-color: #292929;
    width: 950px;
    float: left;
    margin-bottom: 30px;
}

.banner img {
    float: left;
}

.banner input {
    background-color: #3F3F3F;
    color: #FFFFFF;
    border: 0;
    width: 130px;
    height: 40px;
    margin-left: 40px;
}

.banner h1 {
    color: #00BBFF;
    margin-left: 680px;
    font-weight: bold;
    font-size: 25px;
}

.banner p {
    color: #888888;
    margin-left: 680px;
}


.MainContent {
    float: left;
    width: 950px;
    background-color: #FFF;
    margin-bottom: 30px;
}

.MainContent p {
    margin: 30px;
 }

 .MainContent em{
 	color: #00BBFF;
 }


.TeachingBox {
    float: left;
    width: 950px;
    background-color: #FFF;
    margin-bottom: 15px;
}

.TeachingBox h2 {
    margin: 33px;
    font-size: 30px
 }

.TeachingBox em {
    color: #00BBFF;
}

.TeachingItems {
    float: left;
    width: 600px;
}

.TeachingItems div {
    float: left;
    width: 600px;
    margin-left: 35px;
    margin-bottom: 35px;
}

.TeachingItems h3 {
   float: left;
   margin-left: 30px;
   font-weight: bold;
}

.TeachingItems p {
    margin-left: 225px;
}

.TeachingItems img {
    float: left;
    border-color: #F4F4F4;
    border-style: solid;
    border-width: 5px;
}

.Servicesbox {
    float: right;
    width: 300px;
}
.Servicesbox h2{
	margin: 23px;
}

.Servicesbox li {
    background-image: url("../images/icon_03.png");
    background-repeat: no-repeat;
    background-position: 0px 8px;
    padding: 0px 0px 5px 15px;
    line-height: 25px;
    overflow: hidden;
}

.Servicesbox ul {
    padding: 0px 0px 0px 33px;
}

.btnZip {
    border-color: #E0E0E0;
    border-style: solid;
    width: 200px;
    height: 40px;
    margin-left: 28px;
    margin-bottom: 20px;
}

.btnSearch {
    width: 100px;
    height: 45px;
    margin-left: 28px;
    border: 0;
    background-color: #F4F4F4;
    color: #00BBFF;
    font-weight: bold;
}

.footer {
    float: left;
    width: 950px;
    text-align: center;
}

.footertitle em {
    color: #00BBFF;
}

